/* @font-face{
	font-family: "FigtreeExtraBold";
	src: url("../src/lib/fonts/webfonts/Figtree-ExtraBold.woff2") format("woff2");
} */

:root {
	--font-body: FigtreeRegular, "Poppins", "Segoe UI", "Helvetica Neue", sans-serif;
	--brand-color-1: #1c1d25;
	--brand-color-2: #d6b18c;
	font-family: var(--font-body);
}

body {
    font-family: var(--font-body);
    margin: 0;
    padding: 0;
}

section {
    background-color: white;
}

.sec1 {
    /*background-color: #2d3044;*/
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 50px;
    margin: 0;
}

h2 {
    font-size: 35px;
}


p {
    margin: 0;
    font-size: 20px;
    font-weight: 300;
}

@media (min-width: 0px) and (max-width: 550px) {

    h1 {
        font-size: 35px;
    }
    
    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 17px;
    }

    p {
        font-size: 15px;
    }

}